/* Estilos generales para la sección de recaudar cuota */
.container {
    max-width: 900px;
    margin-top: 50px;
}

#tabla-socios {
    width: 100%;
}

#lista-socios {
    margin-top: 20px;
}

.list-group-item {
    font-size: 16px;
    margin-bottom: 10px;
}

.list-group-item .eliminar-socio {
    margin-left: 15px;
}

/* Estilo de la ventana modal */
.modal-body {
    text-align: center;
}

.modal-body button {
    margin: 5px;
}
