/* Estilos generales para la sección de recaudar cuota */
.container {
    max-width: 900px;
    margin-top: 50px;
}

#tabla-socios {
    width: 100%;
}

#lista-socios {
    margin-top: 20px;
}

.list-group-item {
    font-size: 16px;
    margin-bottom: 10px;
}

.list-group-item .eliminar-socio {
    margin-left: 15px;
}

/* Estilo de la ventana modal */
.modal-body {
    text-align: center;
}

.modal-body button {
    margin: 5px;
}

/* Nuevo estilo para mensajes de error o éxito */
.alert-message {
    display: none; /* Inicialmente oculto */
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
}

.alert-error {
    background-color: #f8d7da;
    color: #721c24;
}
